*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
}
.card{
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(19, 236, 236, 0.2);
    font-size: 0;
}
.card:hover{
    margin-top: 10px;box-shadow: 0px 16px 32px rgba(13, 167, 206, 0.5);
}
.cal-dis #result{
    width: 325px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding: 0 10px;
    letter-spacing: 3px;
}
.btn{
    width: 87px;
    height: 70px;  
    font-weight: bold;
    font-size: 30px;
    background-color: #1f2326;
    color: white;

}
.btn-style{
    background-color: #5f4bb6;
}
.btn:hover{
    background-color: rgb(143, 197, 152);
}
#result{
    background-color: white;
    color: black;
}